custom.el
bookmarks
.DS_Store
.smex-items
smex-items
savehist
projectile-bookmarks.eld
projectile.cache
ac-comphist.dat
ido.last
places
recentf
tramp
auto-save-list/
eshell/
elpa/
games/
temp/
url/
*~
